.textos{
    font-weight: bold !important;
}

.imagem{
    background-image: url("./src/assets/img/ImagemTop.jpg") ;
    background-repeat:no-repeat;
    width: 100vh;
    background-size: cover;
    background-position: center;
}

.text-decoration-none{
  text-decoration: none;
}